
.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height:75vh;
  background:rgb(119, 116, 223);
  padding: 20px;
}

.main {
  background: #f2efea;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 330px;
}


.form-control {
  border-radius: 5px;
  border: 1px solid #0daf1a;
  padding: 10px;
  font-size: 14px;
}



.btn {
  background-color: #e13c09;
  color: #ffffff;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3000b3;
}

.invalid-feedback {
  font-size: 12px;
  color: red;
}




