<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>
<body>
    <nav class="navbar"> 
        <a class="nav-MyBooks" routerLink="/home">MyBooks</a>
        <div class="nav-links"> 
            <a class="nav-Home" aria-current="page" routerLink="/home">Home</a> 
            <a class="nav-register" routerLink="/register">Registro</a> 
            <a class = "nav-profile" routerLink = "/profile">Perfil</a>
            <a class = "nav-books" routerLink = "/books">Books</a>
            <a class = "nav-addBook" routerLink = "/addBook">Añadir Libro</a>
            <a class = "nav-updateBook" routerLink = "/updateBook">Actualizar Libro</a>
        </div> 
    </nav> 
</body>
</html>

