<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       
    <div class="caja_principal"> 
        <div class="buscador">
          <input class="recuadroBuscador" type="number" id="buscador" placeholder="Buscar libro" 
          [(ngModel)]="id_libro" (keyup.enter)="getOne()">
          <button (click)="getOne()">Buscar Libro</button>
          </div>
      
        <div *ngIf="libroEncontrado && id_libro !== 0" class="libroEncontrado">
          <app-card [book_libro]="libroEncontrado" [esPar_color]="false" (eliminarX)="eliminarCard($event)"></app-card>                  
        </div>
        
        <ul *ngIf="books.length > 0">
          <p *ngIf="books.length == 0">NO EXISTEN LIBROS</p>
          <li *ngFor="let book of books; let i = index; let esPar = even">
            <app-card [book_libro]="book" [esPar_color]="esPar" (eliminarX)="eliminarCard($event)"></app-card>
          </li>
        </ul>
    
      
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- <div class = "caja_principal"> 
                
                <div class="buscador">
                  <input class="recuadroBuscador" type="number" id="buscador" placeholder="Buscar libro" 
                  [(ngModel)]="id_libro" (keyup.enter)="getOne()">
                </div>

                  <div *ngIf="libroEncontrado && id_libro !==0" class = libroEncontrado>
                       <app-card [book_libro]="libroEncontrado" [esPar_color]="false" (eliminarX)="eliminarCard($event)"></app-card>                  
                  </div>
                  
                  <p *ngIf="libroEncontrado && id_libro == 0"></p>
                
                  <ul nfIf="!id_libro || books.length > 0">
                    <p *ngIf="books.length == 0">NO EXISTEN LIBROS</p>
                    <li *ngFor="let book of books;let i = index; let esPar = even">
                        <app-card [book_libro]="book" [esPar_color]="esPar" (eliminarX)="eliminarCard($event)"></app-card>
                    </li>
                  </ul>  -->
                      
            
            
            
            <!--<ul>
                 <p *ngIf="books.length == 0">NO EXISTEN LIBROS</p> 
                  <li *ngFor = "let book of books;let esPar = even">
                       <div>
                       <img [src]="book.photo" class="imagenes" alt="Imagen del libro">
                       </div> 
                       <p> Codigo del libro : {{book.id_book | refCode}}</p>
                       <p> Id de usuario : {{book.id_user}}</p>
                       <p> Titulo : {{book.title}}</p>
                       <p> Tipo : {{book.type}}</p>
                       <p> Autor : {{book.author}}</p>
                       <p> Precio : {{book.price}}</p>
                       <button class = "boton-compra" [ngClass]="esPar ? 'btn-pares' : 'btn-impar'">Comprar</button>
                  </li>
            </ul> -->
           
           <!-- <form class="caja-formulario" (submit)="agregarLibro(id_book.value, id_user.value,title.value, type.value, author.value, price.value, photo.value)">
                   <div class="form-grupo">
                       <label class="textos" for="id_book">Código del Libro</label>
                       <input type="number" id="id_book" #id_book class="input" placeholder="Código del libro" required>
                    </div>
                    
                    <div class="form-grupo">
                        <label class="textos" for="id_user">Id Usuario</label>
                        <input type="number"id="id_user" #id_user class="input" placeholder="Identificacion Usuario" required>
                    </div>

                    <div class="form-grupo">
                        <label class="textos" for="title">Titulo</label>
                        <input type="text" id="title" #title class="input" placeholder="Titulo" required>
                    </div>
            
                    <div class="form-grupo">
                         <label class="textos" for="type">Tipo</label>
                         <input type="text" id="type" #type class="input" placeholder="Indica el tipo" required>
                    </div>
            
                    <div class="form-grupo">
                          <label class="textos" for="author">Autor</label>
                          <input type="text" id="author" #author class="input" placeholder="Indica el Autor" required>
                    </div>
            
                    <div class="form-grupo">
                          <label class="textos" for="price">Precio</label>
                          <input type="number" id="price" #price class="input" placeholder="Introduce el precio" required>
                    </div>

                    <div class="form-grupo">
                          <label class="textos" for="photo">Foto, imagen</label>
                          <input type ="text" id="photo" #photo class="input" placeholder="Ubicacion imagen" required>
                    </div>
            
                    <div class="boton">
                          <button type="submit">Registrar</button>
                    </div>
            </form> -->
      </div>



</body>
</html>
