*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Monserrat",sans-serif;
}



footer{
    border: 1px solid grey;
    height: 6vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook{
    color:blue;
    text-decoration:double;
    margin-right:15px;
}
.instagram{
    color:rgb(173, 81, 81);
    text-transform:lowercase ;
}