<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      
<h1 class="modificar">Modificar Libro</h1>




<form class="caja-formulario" (submit)="edit()">

      <div class="form-grupo">
        <label class = "textos" for="title">Titulo</label>
        <input type="text"  [(ngModel)]="book.title" name="title" class="input" placeholder="Titulo" required>
      </div>

    
      <div class="form-grupo">
        <label  class="textos" for="cover_class">Tapa blanda/dura</label>
        <input type="text"  [(ngModel)]="book.cover_class" name="cover_class" class="input" placeholder="Tapa blanda/dura" required>
      </div>

    
      <div class="form-grupo">
        <label class="textos" for="author">Autor</label>
        <input type="text"  [(ngModel)]="book.author" name="author" class="input" placeholder="Autor" required>
      </div>

    
      <div class="form-grupo">
        <label class="textos" for="price">Precio</label>
        <input type="number"  [(ngModel)]="book.price" name="price" class="input" placeholder="Precio" required>
      </div>

    
      <div class="form-grupo">
        <label class="textos" for="photo">Foto</label>
        <input type="text" [(ngModel)]="book.photo" name="photo" class="input" placeholder="URL de la foto" required>
      </div>

    
      <div class="form-grupo">
        <label class="textos" for="id_book">Código del libro</label>
        <input type="number"  [(ngModel)]="book.id_book" name="id_book" class="input" placeholder="Código" required>
      </div>

    
      <div class="boton">
        <button type="submit">Modificar Libro</button>
      </div>

    </form>
</body>
</html>
    