

.fondo{
    height: 75vh;
    border:4px;
    color:red;
    background-color: rgb(38, 11, 54);
    text-align: center;
    font-size: 40px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}